[2017-11-05 14:01] promontis opened #2 "Typo"
Your sample code says 'withBreadcumbs'... took me some time to spot that it is missing the 'r' ;)

[2017-11-05 15:02] icd2k3 commented on #2
Oops! Thanks for reporting - fixed!

[2017-11-05 15:02] #2 closed

[2017-11-07 17:08] diegolaciar opened #3 "render "home" breadcrumb"
Hi,

react-router works really good, thanks for publish your project.

Question: How can I do to display the breadcrumb like this ->

home / user / Jonny

Including NavLink to Home page  ?

I' m doing this but not shows the home link.

const routes = [
 { path: '', breadcrumb: 'Home' },
  { path: 'users', breadcrumb: 'Users' },
  { path: 'users/:userId', breadcrumb: UserBreadcrumb},
  { path: 'som

[2017-11-07 20:58] icd2k3 commented on #3
Hey @diegolaciar, thanks for the question!

I'll work on a patch to allow for the home root route in config.

For now, since it's probably expected that the Home breadcrumb would appear everywhere, you could just render one separately outside of the config. Using the readme example:

[code]

[2017-11-07 21:54] icd2k3 commented on #3
@diegolaciar I pushed a new version `1.0.3` to address this. You should now be able to use:

`{ path: '/', breadcrumb: 'Home' }`

In your config. Thanks again, and please let me know if you run into any other issues.

[2017-11-08 22:43] diegolaciar commented on #3
@icd2k3 I updated react-router-breadcrumbs-hoc       ^1.0.2  →  ^1.0.3

I tried again using :

```{ path: '/', breadcrumb: 'Home' }```
 or
```{ path: '', breadcrumb: 'Home' }```

and i don´t get the home breadcrumb.

[2017-11-08 23:01] diegolaciar commented on #3
Looking into code could be something with my routes config.

All my routes are child from home route.

I can' t discover whats going on.

Anyway, thank you for you fix and fast response !

[2017-11-09 17:01] icd2k3 commented on #3
Thanks @diegolaciar - reopening the issue because I was able to find some unexpected behavior for the "home" "/" route on my end as well.

[2017-11-09 18:55] icd2k3 commented on #3
@diegolaciar my apologies, there was a problem with the compiled build published to npm (apparently `prepublishOnly` doesn't work as I expected it to)

...anyways, this problem will be solved after upgrading to `1.0.5`

Sorry for the inconvenience - please let me know if it solves the issue on your end as well

[2017-11-09 23:21] diegolaciar commented on #3
Hi @icd2k3,

I just updated react-router-breadcrumbs-hoc ^1.0.3 → ^1.0.5 and installed the pkg.

I have on the config

{ path: `/`, breadcrumb: "Home" },
 { path: ``, breadcrumb: "Home" },

It looks like the issue persist.
Breadcrumbs render good and it shows all the routes I configured, but is not showing the "home" breadcrumb.

[2017-11-09 23:25] diegolaciar commented on #3
If I do
```{ path: "", breadcrumb: "Home" },```
Error: withBreadcrumbs: `breadcrumb` and `path` must be provided in every route object

So I just leave ```{ path: "/", breadcrumb: "Home" },```

[2017-11-10 00:16] icd2k3 commented on #3
`{ path: "/", breadcrumb: "Home" }` should work (the path can't be blank).

Seems to be working OK on my end... Could you please provide the `react`, `react-router`, & `react-router-dom` versions you're using?

[2017-11-10 09:16] pmd30011991 opened #6 "How to map props of Component into breadcrumb title ?"
Hi There

this is amazing component I have been used, however I have a question how to get the props into breadcrumb text

e.g: users/:id , I have object in props let say {id:1, name:'john'}
I expect it should be users/john

Thanks

[2017-11-10 12:29] diegolaciar commented on #3
"react": "^16.1.0",
"react-dom": "^16.1.0",
"react-router": "^4.2.0",

I cant push all the code but looks something like this.
[code]

[2017-11-10 16:18] diegolaciar commented on #3
@icd2k3,

Your fix is working.

I cleared node_modules folder.  Looks like it was caching the older version.

Thank you

[2017-11-10 16:31] icd2k3 commented on #3
@diegolaciar thank you!

Oddly, I still can not repro this issue in v`1.0.5` 😞  in my project:
![img](https://www.dropbox.com/s/39uwq45n4cr5z3e/Screenshot%202017-11-10%2008.28.59.png?raw=1)

My plan is to (hopefully) get a demo environment up and running this weekend which might be a good way to test different theories in isolation.

Until we figure out what might be going wrong on your end, would

[2017-11-10 17:00] icd2k3 commented on #3
@diegolaciar good to hear! Please let me know if you run into any other issues.

[2017-11-10 17:00] #3 closed

[2017-11-10 17:08] icd2k3 commented on #6
Hey @pmd30011991 this should be done within custom breadcrumb component (let's assume you're using redux with a `userReducer`)

[code]
^ Each breadcrumb component is passed `match` as a prop. `match` comes directly from `react-router` api [here](https://reacttraining.com/react-router/web/api/matchPath). You can then use `match.params.[id_name]` to get the actual value.

Once you have that value yo

[2017-11-10 17:13] icd2k3 commented on #6
Also, if you need to pass additional props (outside of `match`) into your breadcrumb components you could use this method:

`{ path: 'Something', breadcrumb: props => <SomeComponent additional="prop" {...props} /> }`

[2017-11-13 03:08] pmd30011991 commented on #6
thanks.
what is compose module you are using ?

[2017-11-13 03:30] pmd30011991 commented on #6
Never mind I can use connect instead of compose. can you help me understand what is difference between compose & connect ?
`const ProjectOverviewBreadcrumb = (props) => <span>{props.project.name}</span>
const mapStateToProps = state => ({
    project: state.project.currentProject || {}
})

export default connect(
    mapStateToProps
  )(ProjectOverviewBreadcrumb)`

[2017-11-13 03:31] #6 closed

[2017-11-13 04:20] icd2k3 commented on #6
@pmd30011991 oops, that was a typo - you're right, it should be `connect` not `compose`. I edited my answer above

[2017-12-27 16:17] ShadyXV opened #13 "TypeError: Object(...) is not a function"
I am trying use this package but I am
getting this error when I try to run the code you have posted in the Example.
![screenshot-2017-12-27 honeyguide apps](https://user-images.githubusercontent.com/11807140/34386586-8738308a-eb51-11e7-8d1c-f60c8c3a787e.png)
I am importing Breadcrumbs and rendering `<Breadcrumbs/>`. Is this not the way to do it?

[2017-12-27 16:36] icd2k3 commented on #13
Hey @ShadyXV could you please post your full source code for the file you're using the HOC in? Also, showing the full error details ("15 stack frames were collapsed") could help.

I'm on vacation currently, but should have time to check on this during my travels.

Thanks!

[2017-12-27 16:43] ShadyXV commented on #13
Thank you for responding so quickly.Here is the full error detail.
![screenshot-2017-12-27 honeyguide apps 1](https://user-images.githubusercontent.com/11807140/34387213-e80e33a2-eb54-11e7-8353-0cc0cb230da6.png)
I am not passing any props to Breadcrumbs is this where i am going wrong.

[2017-12-27 16:49] icd2k3 commented on #13
The hoc will automatically pass a `breadcrumbs` prop into the wrapped component. You can pass additional props if you like, but it shouldn't matter in terms of rendering. When you have a moment could you paste the full source of `Breadcrumbs/index.jsx`? Thanks

[2017-12-27 16:57] ShadyXV commented on #13
`Breadcrumbs/index.jsx` looks like this
`import React from "react";
import { NavLink } from "react-router-dom";
import { withBreadcrumbs } from "react-router-breadcrumbs-hoc";

const UserBreadcrumb = ({ match }) => <span>{match.params.userId}</span>; // use match param userId to fetch/display user name

const routes = [
  { path: "/", breadcrumb: "Home" },
  { path: "users", breadcrumb: "Users" },

[2017-12-27 17:29] ShadyXV commented on #13
I trying rendering Breadcrumbs in different ways but even just importing it fails with the same errors.
I am importing Breadcrumbs from Breadcrumbs/index.jsx like so
`import Breadcrumbs from './components/Breadcrumbs';`

[2017-12-27 18:40] icd2k3 commented on #13
Hey @ShadyXV I'll have to take a closer look at this in the near future. The build process recently switched, so it's possible there was some unintended side effects there.

You could try downgrading `npm i react-router-breadcrumbs-hoc@1.0.7` and see if that fixes the issue?

[2017-12-27 19:01] ShadyXV commented on #13
Yup. You are right.It's working now.Thank you.

[2017-12-30 15:49] icd2k3 commented on #13
Thanks @ShadyXV I was able to repro your issue using `create-react-app` myself. I'll look into fixing the issue and close this thread with v `1.1.1` when fixed!

[2017-12-30 16:39] icd2k3 commented on #13
This one took a while to figure out, but seems the `create-react-app` config has trouble with `.mjs` file extensions. I've changed the build output in v `1.1.1` here: https://github.com/icd2k3/react-router-breadcrumbs-hoc/pull/14

This should fix the issue, can you confirm on your end everything is still working @ShadyXV after upgrading from `1.0.7` to `1.1.1`?

[2017-12-30 19:11] #13 closed

[2018-01-18 06:47] ikovic opened #16 "Path matching"
I've ran into a case when path matching didn't follow `react-router` - I've got a few routes set up as this:
[code]

When accessing `...reports/create`, router displays the correct page, but the breadcrumb gets a wrong match - breadcrumb returned from HOC matches the `.../reports/:id` path, with `create` as `id` value.

I've patched the problem by changing from `.../reports/:id` to `.../reports/de

[2018-01-21 16:42] icd2k3 commented on #16
Hey @ikovic after some testing, I think just changing the order of the routes in your route config should work. The package returns the first match it finds in the list, so `/create` matches with `/:id` first (think of it like a switch statement). Changing your config to something like this should work:

[code]

[2018-01-22 18:40] icd2k3 commented on #16
Closing this issue, but please re-open if there's still an issue!

[2018-01-22 18:40] #16 closed

[2018-01-24 15:43] LostCrew opened #17 "Breadcrumbs prop is never updated"
`getBreadcrumbs` is never fired again after first rendering.
Current usage:

[code]

Setup:
- react@15.6.2
- react-router@4.2.0
- react-router-dom@4.2.2
- react-router-breadcrumbs-hoc@1.1.1

Need more details or a playground link?

[2018-01-24 18:37] icd2k3 commented on #17
Hmm, strange! I just tested this in my app and can't repro the issue. Even if there's no breadcrumb matches it still logs an empty array for `breadcrumbs` in `componentWillReceiveProps` for me... is it possible your `Breadcrumbs` component is being blocked from updating higher up the component chain?

For reference, here's what I tried on my end:
[code]

^ the above logs `[]` to the console

[2018-01-29 13:57] LostCrew commented on #17
Hi @icd2k3 ,
Thank you so much for taking care of testing. Answers:

- Sadly, at this moment, we're locked with 15 due to work needed to upgrade other libraries
- None, otherwise I would have reported them here
- **Excellent assumption: I will verify that and get back to you soon**

I have tried to use `withRouter` in combination with `withBreadcrumb`, in various order and with different configura

[2018-01-29 17:44] icd2k3 commented on #17
Thanks @LostCrew - I should have some time this upcoming weekend to run some more tests as well.

In the meantime - I'm wondering what your route config looks like? ... if you're using strings like:
`{path: '/users', breadcrumb: 'Users'}`
This is only supported in [React 16](https://reactjs.org/blog/2017/09/26/react-v16.0.html#new-render-return-types-fragments-and-strings). So if this is the case

[2018-01-29 22:57] m4rk3r opened #18 "Omitting breadcrumb for a path"
Thank you for this elegantly simple library!

Quick question: Sometimes routes don't require a breadcrumb.. would it be more flexible to allow for perhaps a `null` breadcrumb in order to omit it? Right now doing something silly like using `noop` and checking while rendering, but perhaps checking for a present but `null` prop instead of throwing an error could be more forgiving?

[2018-01-29 23:15] icd2k3 commented on #18
Hey @m4rk3r, just so I'm clear, are you saying you're extending your [react router config](https://reacttraining.com/react-router/web/example/route-config) object with a `breadcrumbs` prop?

I currently don't use it this way, but I think that is a good idea to support and I could make that change soon!

[2018-01-30 00:03] m4rk3r commented on #18
@icd2k3 yep, exactly! Sorry should of included that detail. Works perfectly otherwise. Thanks!

[2018-01-30 00:04] icd2k3 commented on #18
No worries, and thanks for clarifying - I'll add support for this soon(ish)!

[2018-02-01 02:06] #18 closed

[2018-02-01 02:11] icd2k3 commented on #18
Hey @m4rk3r this should be supported with version `1.1.2` could you confirm when you have a moment?

[2018-02-01 15:08] m4rk3r commented on #18
@icd2k3 Thanks, works great!

[2018-02-05 09:27] LostCrew commented on #17
Hey @icd2k3, some routes have `breadcrumb` of type string, others are function/component. The ones with string renders the string correctly once matched, so I would lean towards excluding React version to be the cause of the issue.
I still have to verify that my `Breadcrumbs` component updates aren't blocked. ;)

[2018-02-22 19:50] nachoaIvarez opened #21 "Better defaults!"
Love your work here @icd2k3! Found it reading through https://github.com/ReactTraining/react-router/issues/4556.

I think we can do something to improve the defaults and avoid configuration for most cases. Here's how:

Instead of requiring this object every time you're going to use the HOC
[code]

we could have, by default, a text transformation over the chunks of the URL.

`users` > `Users`
`some

[2018-02-22 19:57] nachoaIvarez commented on #21
Example:

`teams/:teamId/roster-and-staff` > `Teams / 984752985 / Roster and staff`

And, if instead of showing the ID you want to show the team name, you can still use the `routes` param in the HOC:

[code]

`teams/:teamId/roster-and-staff` > `Teams / Actual Team Name / Roster and staff`

You have the same result with way less configuration than the currently needed.

[2018-02-22 21:30] icd2k3 commented on #21
Hey @nachoaIvarez, thanks for the suggestion! At initial glance I think it sounds like a good improvement idea!

One concern:
Users might not want to render a breadcrumb from some route segments. In this case we'd need some kind of opt-out option if each segment automatically returns a default string.

I should have some time within the next couple weeks to try this idea on my end. In the meantime

[2018-02-22 22:03] icd2k3 commented on #17
Closing due to inactivity - but if it's an issue on my end I'll reopen!

[2018-02-22 22:03] #17 closed

[2018-02-23 05:55] icd2k3 commented on #21
@nachoaIvarez I have a rough working branch for this so don't worry about a PR - I'll get this cleaned up and released in the near future

[2018-02-26 15:10] nachoaIvarez commented on #21
Thank you for considering my suggestion! I wasn’t able to find time so
great you did!
On Fri, Feb 23, 2018 at 02:55 Justin Schrader <notifications@github.com>
wrote:

[2018-02-28 02:07] icd2k3 commented on #21
Nps, thanks for making the suggestion! As a heads up, it may be a week or so before I can get it all merged up and released as I'm a bit busy with work at the moment. Thinking this change will also bump the package to 2.0 so I want to make sure I have the test cases covered + good documentation. I'll post back here once it drops!

[2018-03-07 04:09] janhartmann opened #24 "Support for nested routes"
Thanks fo this, made my life easier for a breadcrumb navigation for a product I am working on! :-)

We have a routing structure like this:

[code]

And the HOC is working perfectly for the first level routes - the thing is that we have a nested `routes: [...]` which also contains breadcrumb.

Could the HOC be recursively by adding which prop to traverse for breadcrumbs?

All the best,
Jan

[2018-03-07 06:51] icd2k3 commented on #24
Hey @janhartmann, thanks for the report!

You're correct. Nested `routes` are not currently supported, but they _should_ be. I've added a note to the readme to highlight this issue.

I should be able to add this soon. In the meantime, as a workaround, I'd suggest (not ideal, I know) maintaining 2 route configs like:

[code]

[2018-03-07 06:52] janhartmann commented on #24
I can live with this for now! Thank you! ;-)

[2018-03-08 03:14] icd2k3 commented on #21
FYI this is now included as part of `2.0.0` along with some other core changes listed [here](https://github.com/icd2k3/react-router-breadcrumbs-hoc/releases/tag/2.0.0)

[2018-03-09 19:10] nachoaIvarez commented on #21
This is great @icd2k3. Thank you so much.

[2018-03-11 00:27] icd2k3 commented on #24
This is now supported in v`2.0.1`

[2018-03-12 10:30] AngelWayfarer opened #26 "Real example"
Hi everybody!
Could somebody show a full example of dynamic route with converting userID to "John Doe"?

I can't figure out how to transfer data from axios/redux/anywere to the UserBreadcrumb component...

Thanks for any help

[2018-03-12 15:03] icd2k3 commented on #26
Hey @AngelWayfarer, using redux it would probably look something like:

UserBreadcrumb.jsx
[code]

[2018-03-13 12:18] AngelWayfarer commented on #26
Thanks for your answer!!
I have got the idea.

[2018-03-13 12:18] #26 closed

[2018-03-13 22:17] icd2k3 commented on #26
Thanks for closing! FWIW I've added a redux match example to the readme https://github.com/icd2k3/react-router-breadcrumbs-hoc/blob/master/README.md#dynamic-breadcrumbs

[2018-03-26 12:25] LostCrew commented on #17
@icd2k3 Good like that, unfortunately we paused the upgrade of react router that involves switching to this new breadcrumbs component until further requirements are provided. Still, I wish someone else would encounter this and be up to move discussion forward.

[2018-04-12 07:27] DalderupMaurice opened #28 "Example code key in map is undefined"
In the sample code
[code]

`      <span key={breadcrumb.props.key}>` should be replaced with `      <span key={breadcrumb.key}>` as breadcrumb.props does not contain a key in props

[2018-04-12 15:01] icd2k3 commented on #28
Thanks for reporting this! Updated the readme

[2018-04-12 15:01] #28 closed

[2018-04-27 10:11] yves-s opened #30 "Example how to implement the breadcrumbs using router config"
I'm currently using router config and trying to figure out how to implement your solution with router config.

In the documentation you're writing:

I honestly don't know how to "Just add a breadcrumb prop ..." with router config. An example how to use those together would be much appreciated.

[2018-04-27 15:15] icd2k3 commented on #30
Hey @yves-s - using react-router's config example:

[code]

You can pass this object directly into the HOC and it will automatically generate breadcrumbs for you: `withBreadcrumbs(routes)(Breadcrumbs);`

If certain routes require _custom_ defined breadcrumbs, you can add a breadcrumb prop to each route like so:

[code]
Let me know if that works for you!

[2018-05-20 01:15] 9renpoto opened #32 "TypeScript support"
🙏

[2018-05-20 04:26] icd2k3 commented on #32
Hey @9renpoto!

I must admit, I don't use TypeScript very often. Could you please elaborate what the issue with TypeScript is?

Of course, I'd like this package to be as flexible as possible!

[2018-05-20 23:01] icd2k3 commented on #32
@9renpoto could you elaborate on what the issue is with TypeScript?

Also happy to take a look at a PR if you know the issue and how to fix it.

Thanks!

[2018-05-23 04:31] #32 closed

[2018-06-08 08:24] luke-unifymonitor opened #37 "Optional Url Params"
Hi,

Love the project; thanks,

I have a problem with a path with an optional parameter.

When navigating to `/sensor/register` the breadcrumb shows:

but navigating to `/sensor/register/123` results in:

I have the following path setup in my routes.config - the offending route is at the bottom...

[code]

[code]

[code]

Any ideas?

[2018-06-08 16:20] icd2k3 commented on #37
👋  hey @luke-unifymonitor!

This definitely seems like something we need to add support for.

I should have some time this weekend to take a look and hopefully come up with a plan. In the meantime, would maintaining 2 separate routes work?

Something like (untested):
[code]

Not sure if that might work for the use case in the short term, but even if it does, it's obviously not ideal.

Sounds like

[2018-06-08 23:20] icd2k3 commented on #37
Actually... this might be a cleaner solution. Instead of a `string` you could use a breadcrumb component that checks for the optional param.

Again this is untested, but I'll give it a shot later tonight to make sure it works:
[code]

[2018-06-12 08:48] devinyan opened #38 "A bread didn't show"
Hi @icd2k3 ，I followed the guide and realize breadcrumbs as below.
I met the problem the fourth bread didn't show.
Any where has problem?

Thanks.

![image](https://user-images.githubusercontent.com/26291409/41280251-15deb8a8-6e61-11e8-8396-1689e4ec347e.png)

`
const UserBreadcrumb = ({ match }) => (
<span>{getProductName(match.params.pid)}</span>
)
`
const routes = [
  { path: '/product/detail/:p

[2018-06-12 16:19] icd2k3 commented on #38
👋 hey @devinyan,

For testing purposes, if you change your `UserBreadcrumb` to:
`const UserBreadcrumb = () => ( <span>Testing</span> )`

Does "Testing" now show up?

[2018-06-14 01:10] devinyan commented on #38
Hi @icd2k3,
Thanks for your response.
Yes as you said,  "Testing" was showed up,
but as my code, if the "Testing" was replaced by some function so as to dynamically show value,it didn't work.I don't know why.

[2018-06-14 03:40] icd2k3 commented on #38
Hey @devinyan,

So in this case it looks like not a problem with _this_ package, but rather mapping a prop to a function which returns a promise.

Using [this example](https://alligator.io/react/axios-react/) I recommend setting up this breadcrumb component like:

(es6)
[code]

[2018-06-14 05:47] devinyan commented on #38
Hi @icd2k3 ,
Wow, thank you very much. it works.

[2018-06-14 16:40] #38 closed

[2018-06-15 04:10] icd2k3 commented on #37
Gonna close this as the suggestion above should solve for this use case. If it doesn't, just let me know and I'll reopen this. Thanks!

[2018-06-15 07:48] luke-unifymonitor commented on #37
Hi @icd2k3,

Apologies for not replying before.  We had a re-think for the application and no longer needed the paths that caused the problem.

However,  I did create this https://codesandbox.io/s/kok304yz1v and the console reads:

Many thanks for your help.

[2018-06-15 18:51] icd2k3 commented on #37
Interesting... I'll look into this case in the near future. Thanks for the reply and the code sandbox!

[2018-06-16 05:05] icd2k3 commented on #37
Hey @luke-unifymonitor this key warning is fixed in `2.1.4`. Here is the updated code sandbox: https://codesandbox.io/s/13j7vr75yl

[2018-06-21 18:37] #37 closed

[2018-08-14 09:51] Pixelatex opened #41 "breadcrumb prop is being ignored."
My route looks like this:

[code]

My breadcrumb component:

[code]

The url I navigate to:
`http://localhost:3000/careers/5b71927e3e07c3430900118c
`
What I expect to see in the props:
`careers > test
`
What I see:
`careers > 5b71927e3e07c3430900118c`

Am I missing something?

[2018-08-14 15:29] icd2k3 commented on #41
Hey @Pixelatex,

That should work. Could you post your whole route/breadcrumb config array when you have a moment?

Thanks

[2018-08-14 15:46] Pixelatex commented on #41
Got it work by moving the breadcrumb under the path like this:

[code]

No idea why this is an issue though, really weird bug

[2018-08-14 16:36] icd2k3 commented on #41
Strange! Did the order of the route config objects change by chance? The HOC will return the first match, so order can affect how the breadcrumbs are generated: https://github.com/icd2k3/react-router-breadcrumbs-hoc#order-matters

[2018-08-14 19:13] Pixelatex commented on #41
the order of the route objects wasn't an issue, I tried this on a few other routes and it also had the same issue somehow

[2018-08-15 21:16] icd2k3 commented on #41
Thanks for the follow-up @Pixelatex!

I adjusted some unit tests to see if I could repro the issue, but so far no dice! When you have a moment, would you be able to post your entire route array? It may help in tracking down the problem.

[2018-09-05 14:53] icd2k3 commented on #41
Hey @pimmey, thanks for reporting and apologies for the issue. I'm re-opening this thread and I'll try to come up with a repro case tonight!

[2018-09-05 16:34] icd2k3 commented on #41
@pimmey I set up a quick code sandbox with your route config and it _seems_ to be working alright... maybe something else is causing the issue? 🤔

https://codesandbox.io/s/pknr4kyll0

[2018-09-13 12:27] pimmey commented on #41
@icd2k3 I see why it didn't work now - it wasn't clear to me that `routesConfig` has to be passed to `withBreadcrumbs()` 🙂thought it should happen automatically or something. Anyway, this should do it, works fine.

[2018-09-13 15:14] icd2k3 commented on #41
Ohh, I could do a better job of calling that out in the readme... added a small change [here](https://github.com/icd2k3/react-router-breadcrumbs-hoc#already-using-a-route-config-array-with-react-router).

Thanks @pimmey!

[2018-09-13 17:05] #41 closed

[2018-09-17 08:30] wkillerud opened #42 "TypeScript: `matchOptions` missing from `BreadcrumbsRoute`"
Hi!

Thanks for your work on this HoC and for including TS-support!

I notice the docs and code open for giving `matchOptions` to each breadcrumb route. However, `matchOptions` is missing from the type definitions, so if I try to assign the correct type to the options given to `withBreadcrumbs` I get a type error.

Example:

[code]

The type checker complains that `matchOptions` is not defined. A

[2018-09-17 15:16] icd2k3 commented on #42
Thanks for reporting this @wkillerud!

I should be able to make & publish this change in the next day or 2 (if you beat me to it I'll be happy to merge a PR, though!).

[2018-09-18 05:38] icd2k3 commented on #42
@wkillerud this PR should fix the issue I think https://github.com/icd2k3/react-router-breadcrumbs-hoc/pull/43. Mind giving it a look? I can merge/deploy it in the near future if it looks good.

[2018-09-18 21:43] #42 closed

[2018-09-18 21:46] icd2k3 commented on #42
This change is now published as `2.1.5` - let me know if you still have issues with TS! (side note: looks like I have some dependency upgrades to do on the typescript end... another day 😄 )

[2018-10-20 19:57] albertcito opened #46 "Breadcrumbs added data that does not exist"
If I have this route:

[code]

The Breadcrumbs will print: `Home / projects / 21 / Images / 44` but `Images` is not defined, because I'm not using `Images` in my routes.

[2018-10-20 23:39] icd2k3 commented on #46
Hey @albertcito, although you did not define a breadcrumb, by _default_ this HOC will attempt to generate one for you via [humanize-string](https://github.com/sindresorhus/humanize-string).

There are a few different options to disable these defaults (either for individual routes or _all_ defaults) listed [here](https://github.com/icd2k3/react-router-breadcrumbs-hoc#disabling-default-breadcrumbs-f

[2018-11-05 13:07] a591371947 opened #47 "Get the last route"
How to get the last route in umi/router

[2018-11-06 02:08] icd2k3 commented on #47
Hi @a591371947

I'm not sure, I have not used umi... would you be able to post some more details and source code when you have a moment? Thanks!

[2018-12-14 00:47] taschetto opened #48 "How to forward extra props from routes to breadcrumbs?"
Hi! I love this package. So simple and yet so powerful. Congratulations.

I'd like to forward some props from my `routes` array in order to create a responsive breadcrumb. Something like this:

[code]

It'd be great to have use it to filter out breacrumbs that are not suitable for a mobile screen.

[code]

It is possible? I've tried to inspect the `breadcrumb` object without success.

[2018-12-19 10:49] taschetto commented on #48
I don't think I have the skills to create this PR, but I'll take it as a holliday challenge. :)

[2018-12-20 18:00] icd2k3 commented on #48
Just a thought - In the meantime, for this specific issue, you could switch to using component breadcrumbs with a class that hides at mobile breakpoints:

`{ path: '/app/hello', breadcrumb: () => <span className="hide-mobile">Hello</span>, mobile: true },`

[2018-12-21 04:32] #48 closed

[2018-12-21 04:57] icd2k3 commented on #47
Closing this for now. If you think this is still an issue please reply and I'll re-open!

[2018-12-21 04:57] #47 closed

[2018-12-26 16:43] Sven65 opened #50 "How to match 404 page?"
In my application, I've got a catch-all route for 404 pages, `<Route component={Page404} />` and I'm wondering how I would use this HOC for a custom breadcrumb with the 404 page without having to define all of my routes in the `withBreadcrumbs` function.

Is this even possible?

[2018-12-26 20:20] icd2k3 commented on #50
Hey @Sven65,

Currently this isn't supported, but it probably should be! I'll look into implementing this in the near future...

In the meantime, you could potentially do a custom solution by using `withRouter` from react-router and rendering an additional breadcrumb if the `match` is null.

[2018-12-26 21:08] icd2k3 commented on #50
This turned out to be easier than I originally thought (pretty sure this PR above will cover it... at least all the tests are passing)

[2018-12-26 21:40] Sven65 commented on #50
I'll check it out tomorrow, thanks!

[2018-12-27 11:33] Sven65 commented on #50
Alright, I had a look at it and I found some issues.

Using the demo shown here, I get these breadcrumbs:

| Route             | Breadcrumb                             |
|-------------------|----------------------------------------|
| /applications/:id | Home / Applications / Edit Application |
| /applications     | Home / 404                             |
| /admin            | Home / 404

[2018-12-27 13:56] icd2k3 commented on #50
Thanks for having a look!

Arg, yea, seems like this is a bit more complex than I originally thought... Back to the drawing board! In the meantime, there might be some way to leverage withRouter (not sure if it knows about 404 routes or not 🤔).

[2018-12-28 20:14] icd2k3 commented on #50
Alright, did some more investigating... The main problem is this HOC is unaware of the routes you might have set upstream, so determining which routes are 404 doesn't seem possible AFAIK.

My PR _would_ work, but only _if_ you have all your routes defined when they're passed into the HOC. Therefore I'll be closing the PR and suggesting workarounds unless anyone has a good idea how to support it.

[2019-01-16 10:19] birendra-90 opened #52 "Handle multiple params"
How to handle multiple params?

e.g. /products/:productId/categories/:categoryId

[2019-01-16 16:44] icd2k3 commented on #52
Hi @birendra-90 👋

This is supported. With defaults enabled you could do something like this:

[code]

For the above, if the URL is `/products/1/categories/2` it will produce breadcrumbs `Home / Products / 1 / Categories / 2`

This will work with default breadcrumbs option [disabled](https://github.com/icd2k3/react-router-breadcrumbs-hoc#disabling-default-breadcrumbs-for-paths) too. You'd just hav

[2019-01-24 07:31] Shubham-Sinha opened #53 "How to hide Parent when child route is active"
Hi,

I tried to implement React Router example. Here's the [codesandbox]( https://codesandbox.io/s/912165259w) link.

[![Screenshot-2019-01-24-at-12-58-34-PM.png](https://i.postimg.cc/WbG4TJ17/Screenshot-2019-01-24-at-12-58-34-PM.png)](https://postimg.cc/56tJmyvH)

The links at top is the breadcrumb

The links to ``Bus`` and ``Cart`` at bottom is present on the parent route ``Tacos`` but is visibl

[2019-01-24 20:58] icd2k3 commented on #53
Hi @Shubham-Fareye,

Just so I understand: do you expect...

1.) tacos to be removed from the breadcrumbs like this?
![image](https://user-images.githubusercontent.com/1458959/51707912-49513800-1fd7-11e9-9235-e6c5f31ebcab.png)

Or

2.) that `BusCart` links shouldn't be there like this?
![image](https://user-images.githubusercontent.com/1458959/51707996-8caba680-1fd7-11e9-9c26-e8eaaf2c954f.png)

#1

[2019-01-31 10:36] amitkumarsingh opened #54 "Example usage in any of project along with code base."
Am not able to follow the documentation. Please share sample code base.

[2019-01-31 10:39] #54 closed

[2019-01-31 11:58] amitkumarsingh opened #55 "Please help with this code base."
I am unable to read the breadcrumb props.
What am i missing ?
[code]

[2019-01-31 16:35] icd2k3 commented on #55
👋 hi @amitkumarsingh . At first glance, you'd want to change:

`const breadcrumbs = this.props;` to `const { breadcrumbs } = this.props;`

If that's not the issue, I'd have to see what's in `scenarioManagerRoutes` to be able to assist

[2019-01-31 16:38] amitkumarsingh commented on #55
I tried with what you have mentioned but it's undefined.

In my scenario manager there are array of routes as mentioned in code
sample.

On Thu, 31 Jan 2019, 22:05 Justin Schrader <notifications@github.com wrote:

[2019-01-31 16:40] icd2k3 commented on #55
If you try using the HOC without pre-defined routes does it work?
`withBreadcrumbs()(ScenarioManagerHome)`
The HOC will attempt generate breadcrumbs for you if no routes are provided.

[2019-01-31 16:41] amitkumarsingh commented on #55
[code]

[2019-01-31 16:41] amitkumarsingh commented on #55
Nope.

[2019-01-31 16:45] amitkumarsingh commented on #55
Is there something i am missing ? As per documentaion i have used it correctly ?

[2019-01-31 16:49] icd2k3 commented on #55
At first glance the code looks ok, but remotely debugging can be tricky sometimes... I can tell you this HOC has test coverage to ensure it works, but something about your codebase/setup/config etc may be affecting it.

Couple more things:

1.) which version of this component are you using? (2.3.1?)
2.) any errors in console?
3.) when running the HOC w/o route config `withBreadcrumbs()(ScenarioMan

[2019-01-31 16:51] icd2k3 commented on #55
OH, also, which version of `react-router` are you using?

[2019-01-31 16:54] amitkumarsingh commented on #55
1.) which version of this component are you using? (2.3.1?)  **YES**
2.) any errors in console? **NO**
3.) when running the HOC w/o route config withBreadcrumbs()(ScenarioManagerHome). What does console.log(this.props.breadcrumbs) output? **undefined**
4.) I assume withBreadcrumbs()(ScenarioManagerHome) is being mounted somewhere? (not the connect-wrapped version) **I did not understand this**
5)

[2019-01-31 17:01] icd2k3 commented on #55
Ok, I'm using 4.3.1, but it shouldn't make a difference... Something else you could try is copying the [example component](https://github.com/icd2k3/react-router-breadcrumbs-hoc#example) directly into a _new_ component in your codebase and mounting it somewhere. This would rule out any possible issues with your component.

[2019-01-31 17:14] amitkumarsingh commented on #55
My app js code.

[code]

[2019-02-01 08:50] amitkumarsingh commented on #55
<Bootstrap> is my another HOC. I have tried but eventually could not get the breadcrumbs up and running.

[2019-02-01 09:48] amitkumarsingh commented on #55
Fixed this issue. Closing it.

[2019-02-01 09:48] #55 closed

[2019-02-01 09:53] amitkumarsingh opened #56 "Can we use custom Icon for specific routes ?"
Can we use custom Icon for specific routes ?
[code]

[2019-02-03 00:49] #52 closed

[2019-02-04 06:04] amitkumarsingh commented on #56
@icd2k3 If i use components for breadcrumb, I am getting empty string.
Not sure what could be the issue. Children key is missing in the props object.

[2019-02-04 06:35] #56 closed

[2019-02-04 09:57] amitkumarsingh opened #58 "Need help in route config"
When i go to route ```/scenario/edit/:id``` I need breadscrumb as Home/scenario/editwithid currently getting edit scenario twice.

[code]

Also if my route is ```/admin/apps/list``` I just want bread crumb as home/admin/list. How do i acheive this ?

[2019-02-04 21:14] icd2k3 commented on #58
By default, this HOC will attempt to create breadcrumbs for you. What you probably want to do is [disable the default](https://github.com/icd2k3/react-router-breadcrumbs-hoc#disabling-default-breadcrumbs-for-paths) for this specific path. The 3rd option would probably work well for this case:
`withBreadcrumbs(routes, { excludePaths: ['/scenario/edit'] })`

Same kinda solution as above, you should

[2019-02-05 04:53] icd2k3 commented on #58
@amitkumarsingh here's a codesandbox of what you're describing (I think) https://codesandbox.io/s/k9p8k65pov

Note, in `components/Breadcrumbs` I'm using `excludePaths: ["/scenario"]` to avoid generating a default breadcrumb for this _specific_ path section. Then, only the breadcrumbs for edit, create, and details will render.

[2019-02-05 04:54] amitkumarsingh commented on #58
Does not solve the purpose though.
Say i have route as

[code]
Then i want my breadcrumb as `home > scenario > edit scenario` but currently am getting `home > scenario > edit scenario > edit scenario`
How to solve this ?

[2019-02-05 04:57] icd2k3 commented on #58
@amitkumarsingh alright, this is the same codesandbox, just without the excludePaths option. Seems to be working as expected?

[2019-02-05 05:04] icd2k3 commented on #58
Oh, I think I know what might be going on! Does the double breadcrumb show up only when the `id` in the param is set? Let me update the codesandbox to show you how to get around that

[2019-02-05 05:09] icd2k3 commented on #58
Oops, didn't mean to close the issue there 😬. I think I just realized what might be going on... you're seeing the double generated breadcrumbs only _when_ the `id` param is present right? There's a couple ways around this:

- Quick fix: use the `excludePaths` option to only generate a breadcrumb for the `id` routes. Updated codepen: https://codesandbox.io/s/o9z4vz5l26
- Longer, cleaner fix: disabl

[2019-02-05 05:35] amitkumarsingh commented on #58
My App.js code is this.

[code]

And my sensemaker code is this. Where am mounting the breadcrumb HOC and passing the breadcrumb as props ?

[code]
But in your case your are mounting HOC on breadcrumb component itself ? Not working for me.

[2019-02-05 05:52] icd2k3 commented on #58
It shouldn't matter where it is mounted as long as it is somewhere within a react-router Router component. Either codesandbox link above should fix the issue for you. Make sure to check `components/Breadcrumbs` and `modules/routeConfig` in each. The excludePaths option should be easier to implement!

[2019-02-05 06:08] amitkumarsingh commented on #58
It worked. Thanks :+1:

[2019-02-05 15:43] #58 closed

[2019-02-07 17:14] icd2k3 commented on #53
Closing this after 2 weeks of inactivity. Happy to re-open and help when the problem is clarified!

[2019-02-11 21:25] jzucadi opened #59 "Correctly destructure component in withBreadcrumbs.js"
Within the file: withBreadcrumbs.js, I am trying to destructure the follow section:

`
const render = ({ breadcrumb, match, location, ...rest }) => {
  const componentProps = { match, location, key: match.url, ...rest };
  if (typeof breadcrumb === 'function') {
    return createElement(breadcrumb, componentProps);
  }
  return createElement('span', componentProps, breadcrumb);
};`

My problem is

[2019-02-11 23:36] icd2k3 commented on #59
Hey @jzucadi, out of curiosity, what is the console warning you're seeing? Thanks!

[2019-02-11 23:57] jzucadi commented on #59
Thanks for making a great HOC.

[2019-02-11 23:58] jzucadi commented on #59
Thanks for making a great HOC!

My error is as follow:
`react-dom.development.js?61bb:506 Warning: Invalid value for prop `component` on <span> tag. Either remove it from the element, or pass a string or number value to keep it in the DOM. For details, see https://fb.me/react-attribute-behavior
    in span
    in a (created by Link)
    in Link (created by Breadcrumbs)
    in div (created by Bread

[2019-02-11 23:59] jzucadi commented on #59
![error](https://user-images.githubusercontent.com/7745936/52602059-1f00d680-2e2f-11e9-9404-17fb8292131e.png)

[2019-02-12 00:05] icd2k3 commented on #59
Thank you for reporting!

I did some testing and I'm seeing this warning as well... flagging this as a bug and I will look into a fix in the near future.

[2019-02-12 01:41] #59 closed

[2019-02-12 01:46] icd2k3 commented on #59
You should no longer see this component warning in version `2.3.2`!

However, this did highlight a more interesting issue that will need a bit of a refactor. I've detailed it in the PR notes and will start thinking about a more permanent solution to this kind of problem.

[2019-02-12 02:00] jzucadi commented on #59
Thank you, that was such a fast turn around. Very much appreciated, I thought there was something on my end with my middleware. Do you have a patreon or one of those?

[2019-02-12 03:12] icd2k3 commented on #59
Hey, no worries! I don't have a patreon, just happy to help. Your report also helped me identify a deeper design issue I'd like to fix soon, so this was valuable to me as well.

Let me know if you run into something else, cheers! 🍻

[2019-03-14 16:21] frederikgdl opened #63 "Dist files use ES6 syntax"
I just updated to version 3.0.0 which fixed the warning issue for me (thank you!), but now i get the following error during build:
[code]
As far as I can tell this is due to the `humanize-string` dependency which now requires Node.js 6. Should the ES6 syntax from `humanize-string` be transformed on build for this project?

[2019-03-14 17:36] icd2k3 commented on #63
Hey @frederikgdl, thanks for bringing this to my attention!

FWIW there is a UMD dist output too https://github.com/icd2k3/react-router-breadcrumbs-hoc/blob/master/rollup.config.js#L28 but since you weren't seeing this issue before it does make me think something odd is going on with humanize-string.

I also noticed humanize-string is [adding a lot to the bundle size](https://github.com/sindresorh

[2019-03-15 00:27] icd2k3 commented on #63
Good news @frederikgdl I found a method that seems to cover all the same cases humanize-string does, so it looks like I can completely remove it as a dependency: https://github.com/icd2k3/react-router-breadcrumbs-hoc/pull/64

This should fix your error when it is released, and has the added benefit of dropping the build size from ~32kb (gzip) -> ~3kb (gzip)

[2019-03-15 08:06] frederikgdl commented on #63
Wow, great news! Thank you so much for your quick response and help!

[2019-03-15 23:40] icd2k3 commented on #63
No problem @frederikgdl. `3.1.0` is released and should not have `humanize-string` bundled with it

[2019-03-18 14:02] frederikgdl commented on #63
I upgraded and it now builds without error and works as expected. Thanks again!

[2019-03-18 14:02] #63 closed

[2019-05-01 22:42] bhollis opened #66 "Issues with React.memo"
When a component is passed in as the `breadcrumb` property of a route, and that component is wrapped with `React.memo` (such as any component using React-Redux v7), this library blows up with "Objects are not valid as a React child".

I think there's a `react-is` library which may be helpful in detecting these components and handling them correctly.

[2019-05-02 03:45] icd2k3 commented on #66
Thanks for reporting @bhollis!

I agree, this module should support the `React.memo` use-case. I should have some time in the near future to look into supporting this.

[2019-05-04 18:02] icd2k3 commented on #66
@bhollis this should work as of the latest version `3.2.0`. Let me know if you run into any issues!

[2019-05-04 18:02] #66 closed

[2019-07-11 20:23] shanedasilva opened #71 "Unable to get breadcrumb override working."
I seem to be unable to get the dynamic breadcrumb to work. I've provided my breadcrumb component as well as my routes array. I've added several test dynamic breadcrumbs but they're ignored. When I console.log to crumb in the component the default crumb.breadcrumb is used.

Am I setting this up incorrectly?

[code]

[code]

[2019-07-16 16:19] icd2k3 commented on #71
Sorry for the delay in response, I was on vacation 🍹.

At first glance, the code you provided looks correct... Have you figured this out yet? Do other "set" breadcrumbs work like ` breadcrumb: 'test'`?

If this still isn't working for you I should have some time to set up a codesandbox in the near future to help debug.

[2019-07-17 02:23] icd2k3 commented on #71
@shanedasilva I set up this [codesandbox](https://codesandbox.io/s/basic-dynamic-example-t97b5) with a similar route config and it seems to be working as expected (at least with this bare-bones example)

Which version of `react-router-breadcrumbs-hoc` are you using?

[2019-07-19 05:23] shanedasilva commented on #71
@icd2k3 thanks for taking the time to do that. Unfortunately, I still haven't figured this out. I'm using the latest version `"react-router-breadcrumbs-hoc": "^3.2.0"`.

[2019-07-19 17:59] icd2k3 commented on #71
Strange!

I [modified the codesandbox](https://codesandbox.io/s/basic-dynamic-example-t97b5) thinking the problem might be something specific about your route config or evergreen-ui, but it seems ok 🤔

![image](https://user-images.githubusercontent.com/1458959/61555390-277bbf80-aa14-11e9-8982-0e0a5061cfe5.png)

Is any code/versions in this [codesandbox](https://codesandbox.io/s/basic-dynamic-examp

[2019-07-19 20:08] pjvds commented on #53
@icd2k3 I would love to see an example of scenario one :)

[2019-07-19 21:16] icd2k3 commented on #53
@pjvds it's a bit verbose, but since `location` is passed to dynamic breadcrumbs, we can use that to determine wether or not to show "Tacos"

[code]

Here's a [codesandbox](https://codesandbox.io/s/bare-bones-example-5ntrl)

![gif](https://www.dropbox.com/s/cl9iejggawbwr9u/jul-19-2019%2014-15-57.gif?raw=1)

[2019-07-20 07:26] polomoshnov opened #74 "Please use yarn to install dependencies, not npm"
You suggest to use `npm install react-router-breadcrumbs-hoc --save` in the README file but the preinstall script in package.json throws an error with the following message: `Please use yarn to install dependencies, not npm`.

BTW, I'm wondering why there's such a requirement?

[2019-07-20 14:41] icd2k3 commented on #74
@polomoshnov Oops, this was only supposed to trigger for local development! I didn't realize it was throwing for installing the module itself. I'll remove it right away

[2019-07-20 14:46] icd2k3 commented on #74
@polomoshnov This is fixed as of v `3.2.2` sorry for the inconvenience and thanks for reporting!

[2019-07-20 14:49] #74 closed

[2019-07-21 14:11] pjvds commented on #53
Thanks @icd2k3 for the fast and prompt answer ❤️

[2019-07-21 14:49] #53 closed

[2019-07-21 23:14] polomoshnov commented on #74
No problem! Thank you for all your work on this HOC!

[2019-08-07 17:17] shanedasilva commented on #71
"react": "^16.8.1"
"react-router-dom": "4.3.1"

[2019-08-09 21:11] icd2k3 commented on #71
Unfortunately, I'm really not sure why it's not working on your end. I [updated the codesandbox with those versions](https://codesandbox.io/s/basic-dynamic-example-t97b5) and it seems to be working...

Any way you could use this example in your codebase to see if it solves the issue?

I have a feeling this problem might be due to some other factor outside of this module.

[2019-08-13 11:10] mariolegnini opened #76 "Suppress autmatically added Home Breadcrumb"
Hi, Quick question... is there any way to suppress showing the automatic Home Breadcrumb? Thanks.

[2019-08-13 15:09] icd2k3 commented on #76
hi @mariolegnini, yep there are a [couple ways](https://github.com/icd2k3/react-router-breadcrumbs-hoc#disabling-default-generated-breadcrumbs) to do this actually!

You can pass null in the route config object
`{ path: '/', breadcrumb: null }`

Or you can use the `excludePaths` option
`withBreadcrumbs(routes, { excludePaths: ['/'] })`

[2019-08-13 15:13] mariolegnini commented on #76
Thanks for the super fast response it's appreciated! It Works.

[2019-08-13 15:13] #76 closed

[2019-08-25 17:07] darewreck54 opened #77 "Issue with excludePaths not being consistent with breadcrumbs: null"
I think there is an issue with the excludePaths.

[code]
In the above example, '/path2/:organization' & '/path2' will not render which is what i want and '/path2/:organization/:userId' will render.

I expected to get the same results if i went with excludePaths:

[code]

Based on the readme, I expected the two to reproduce the same result, but that is not the case.

Thanks,
Derek

[2019-08-25 17:08] darewreck54 commented on #77
Also is there a way to exclude everything and have a includePaths, similar to excludePaths but the opposite?

[2019-08-25 18:04] icd2k3 commented on #77
This does seem odd... I'll check into this soon.

For this use case, I'd recommend using the `disableDefaults: true` option and then just adding `breadcrumb` to the paths you want to include

[2019-08-25 18:12] darewreck54 commented on #77
What do you mean by "adding breadcrumb" to your path?  If you disable defaults, even if i pass in breadcrumbs, it gets ignored.  Maybe I'm doing something wrong?

[2019-08-25 18:15] icd2k3 commented on #77
[code]

In this case, the only breadcrumb that would render would be `/example`.

[2019-08-25 18:17] icd2k3 commented on #77
Back to the `excludePaths` option... there does seem to be a bug somewhere here with deep routes w/ params. Here's a demo:
https://codesandbox.io/s/react-router-breadcrumbs-hoc-demo-wgzmj

In this case, I would expect the "Org Name" breadcrumb _not_ to render, but it does. I'll have to spend some time investigating this.

[2019-08-25 18:33] darewreck54 commented on #77
If it's all disabled, why does it need to be included?

[code]

shouldn't this work?

An example of this is say you have the path : 'a/b/c/d', but in our your routes you only map 'a/b' and not 'a'.  That means, I would have to define

path: '/a'
path: '/a/b'
path: '/a/b/c'

It would be nice to only have to specify the paths that are actually mapped with

path: '/a/b'
disableDefaults: true

Does th

[2019-08-25 18:37] darewreck54 commented on #77
Also you can't leave breadcrumb undefined based on the type definition

[code]

So you have to call out the null manually as well which kind of defeats the purpose to the disableDefaults?

[2019-08-26 03:04] darewreck54 opened #78 "Question about type definition"
How would you properly typedef the props that go into the following example you displayed below?

I notice that your just doing a decomposition, but I want to pass in as props.

[code]

So this instead
[code]

I can't figure out what the any would be from the type definition.

Same question for

`
breadcrumb: String|Function? // if not provided, a default breadcrumb will be returned
 `

For the Fu

[2019-09-03 18:54] icd2k3 commented on #71
Closing this due to inactivity & being unable to repro the issue. Will re-open if this changes!

[2019-09-03 18:54] #71 closed

[2019-09-05 01:37] icd2k3 commented on #77
The issue with `excludePaths` has been fixed as of `3.2.3` (it was an issue with url parameters used in conjunction with `excludePaths`). Here is an updated example of that same codesandbox above, but with the new version applied: https://codesandbox.io/s/react-router-breadcrumbs-hoc-demo-tovug

[2019-09-05 01:37] #77 closed

[2019-10-01 13:57] jeanverster commented on #78
Hi @darewreck54, if you have a look at the types defined in the `.d.ts` file you can infer the types.. You would end up with something like this:

`
import withBreadcrumbs, { BreadcrumbsProps } from 'react-router-breadcrumbs-hoc'

type Props = {
  breadcrumbs: BreadcrumbsProps<unknown>[]
  // ...insert other props here
}

const Breadcrumbs: React.FC<Props> = ({ breadcrumbs }) => {
  return (
    <

[2019-10-02 21:00] icd2k3 commented on #78
Thanks for your answer @jeanverster. Closing this for now, but will re-open if more type questions come in!

[2019-10-02 21:00] #78 closed

[2019-11-12 17:23] elishas opened #81 "typescript definition mistake"
export default function withBreadcrumbs<P>(
  routes: BreadcrumbsRoute[],
  options?: Options
): withRouter<InjectedProps<P>>;

should be:

export default function withBreadcrumbs<P>(
  routes?: BreadcrumbsRoute[],
  options?: Options
): withRouter<InjectedProps<P>>;

routes should be optional

[2019-11-13 18:01] icd2k3 commented on #81
@elishas thanks for reporting! This has been fixed as of `3.2.4`

[2019-11-13 18:01] #81 closed

[2020-01-24 22:37] icd2k3 commented on #50
Closing this because it is over a year old, and has a workaround documented.

[2020-01-24 22:37] #50 closed

[2020-02-27 12:13] udielenberg opened #90 "How do I add in between crumbs ?"
Hey!

I currently work with `{ disabledDefaults: true }`.

this is a route I have:

[code]

Is there a way I could get this breadcrumb `${projectId} >  Environments > ${environmentId}`

[2020-02-28 22:12] icd2k3 commented on #90
@udielenberg yes that is possible. `projectId` and `environmentId` will both be in the `match` object. So, you could do something like this:

[code]

[2020-03-01 08:40] udielenberg commented on #90
thank you ! :)

I over complicated it ✋

[2020-03-01 09:17] #90 closed

[2020-03-06 22:03] StuartMorris0 opened #91 "Question: Is there a way to not export the current page in breadcrumbs"
Hello,

Is there a way to not export the current page breadcrumb?

I.e. we have a page like /test/user (you'd be on the User Page).
The current setup exports:
Home > Test > User

Is it possible to only export Home > Test

I cannot just set the User breadcrumb to null as we'd like the same to occur when on the Test Page. The test page would currently export:
Home > Test

We'd only like 'Home' to sh

[2020-03-06 22:57] icd2k3 commented on #91
Hi @StuartMorris0, there's nothing in the API for this use-case, but I'd recommend just not showing the very last breadcrumb component while mapping over them... something like:

[code]

[2020-03-07 10:13] StuartMorris0 commented on #91
Thanks @icd2k3

[2020-03-07 10:13] #91 closed

[2020-03-07 10:26] StuartMorris0 opened #92 "Question: breadcrumbs propTypes"
Hello,

Could you share what the {breadcrumbs} propTypes are please? I'm using a strict eslint project which requires PropTypes to be declared.

I can see it is an array, but do you know what the inner object layout for breadcrumbs are?

Thanks

[2020-03-09 20:10] icd2k3 commented on #92
Hi @StuartMorris0,

[code]

[2020-03-13 02:29] arsistyle opened #96 "How to remove "-" from titles"
I am getting some items from an API and the titles of the pages are left with the "-" that comes from the slug.
Can custom names be passed to it in "Route" component?

Example:

[code]

[2020-03-13 15:46] icd2k3 commented on #96
@arsistyle this module does not interact with the title prop on routes

[2020-03-13 15:47] #92 closed

[2020-03-13 15:53] arsistyle commented on #96
@icd2k3
I need the original name, from which it comes from the API.
Is there a way to pass it as a parameter to "Routes"?
as in the example.

[2020-03-13 16:40] icd2k3 commented on #96
I'm not sure what you're trying to do. the Route component from react-router does _not_ accept `title` as a property at all: https://reacttraining.com/react-router/web/api/Route

If you're trying to set the _breadcrumb_ to "Custom name" then you can just define a `breadcrumb` prop to pass to `react-router-breadcrumbs-hoc` like in the [advanced example](https://github.com/icd2k3/react-router-breadc

[2020-03-15 12:08] bravo-kernel opened #97 "react-router v6"
Hi, I was just trying this with react-router v6 and it seems that v6 does not export `matchPath` (breaking the breadcrumbs throwing an error).

The readme only states v4 and v5 so I can imagine that this is not yet supported. If this is not an error on my behalf... do you plan to support v6?

[2020-03-15 16:12] icd2k3 commented on #97
Hey @bravo-kernel I plan to support v6, but it is currently still in alpha. Once it is officially released I’ll look into what changes need to be made here to support it.

[2020-03-15 18:50] bravo-kernel commented on #97
@icd2k3 thanks for the quick reply, much appreciated !

[2020-03-15 18:50] #97 closed

[2020-03-19 15:09] #96 closed

[2020-03-28 16:28] dagi12 opened #100 "Translated breadcrumbs (delaying routes init)"
Is there a way to delay hoc initialization. Currently I do something like this

[code]
Which lead to error because app didn't download translations yet. I need route configuration to be lazily initialized.

[2020-03-28 16:29] dagi12 opened #101 "dassad"
Is there a way to delay hoc initialization. Currently I do something like this

[code]
Which lead to error because app didn't download translations yet. I need route configuration to be lazily initialized.

[2020-03-28 16:29] #101 closed

[2020-03-30 15:44] icd2k3 commented on #100
@dagi12 check out this [code sandbox](https://codesandbox.io/s/bare-bones-example-ygo7o) it seems to work with localization! Maybe the `connect` HOC is causing you issues...

[2020-04-01 15:13] fdc-viktor-luft opened #102 "Unnecessary peer dependency on react-router-dom"
Please remove the dependency `react-router-dom` completely from your project.

The only import in your source code that points to `react-router-dom` is actually part of `react-router`.

In your tests you can easily replace the imported `NavLink` with an "a" tag. I have a PR ready, but you're currently not allowing to provide PRs.

And please don't forget to remove the corresponding peer dependency

[2020-04-01 19:26] icd2k3 commented on #102
Hey @fdc-viktor-luft, I'll look into it!

PRs should be allowed, you can't submit one?

[2020-04-01 19:58] #102 closed

[2020-04-01 19:59] icd2k3 commented on #102
Dependency has been removed in `3.2.8`

[2020-04-02 06:05] fdc-viktor-luft commented on #102
Maybe I did something wrong when pushing my PR. But your PR looked very similar to mine. The only left differences:

- In your `package.json` you forgot to remove the dev dependency "@types/react-router-dom"
- In your `rollup.config.js` you can remove "react-router-dom" from your `globals`

But nevertheless thank you for your fast response and fix 👍

[2020-04-02 15:13] icd2k3 commented on #102
Thanks @fdc-viktor-luft! I'll remove those other instances shortly

[2020-04-02 15:20] #100 closed

[2020-04-11 16:25] slide333333 opened #105 ""//" produces double matches"
Given the projects sandbox at https://codesandbox.io/s/react-router-breadcrumbs-hoc-demo-iqmx6.
Using a URL with a double slash like "https://iqmx6.csb.app/users//john" is rendered as
`Home>Users>Home>John`  whereas I would expect to render it as just `Home>Users` or maybe `Home>Users>/John` (depending on the configuration).
Not sure if this is somehow the intended behaviour.

[2020-04-13 18:16] icd2k3 commented on #105
@slide333333 honestly 2 slashes in a URL is just something I didn't consider... it seems pretty edge-casey, but this should be a simple fix on my end. I'll get around to it soon!

[2020-04-14 16:00] #105 closed

[2020-05-19 07:48] AudriusDai opened #107 "Unable to pass additional props."
When using typescript I am unable to pass down the additional props to component wrapped in `withBreadcrumbs` method.

[code]

[code]

[code]

error message:
[code]

**Question: Am I doing something wrong here? How to properly pass the additional props?**

The only way I've found it to work is to proxy the props with spread:
[code]
[code]

Dependencies:
[code]

[2020-05-19 09:25] AudriusDai commented on #107
As an alternative I was able to use [use-react-router-breadcrumbs](https://github.com/icd2k3/use-react-router-breadcrumbs). It was way easier :)

[2020-05-20 22:07] icd2k3 commented on #107
Thanks @AudriusDai - I'll update this repo soon to use the same generated types like use-react-router-breadcrumbs has

[2020-05-27 08:55] TangTangJia opened #108 "define breadcrumb‘s description"
I want to define some  description  like  {path:'/doc',title:'document'}，but  now  i got
![image](https://user-images.githubusercontent.com/34622385/83003076-6325e380-a040-11ea-86ad-614770bd9124.png)

wthat could I do？thanks!

[2020-05-27 15:43] icd2k3 commented on #108
@TangTangJia instead of `title` it should be `breadcrumb`:

[code]

[2020-05-28 07:13] TangTangJia commented on #108
thanks! I have solved it

[2020-05-28 07:13] #108 closed

[2020-06-02 06:17] rwojnarowski opened #109 "Disabling default generated breadcrumbs by passing breadcrumb: null raises an error"
According to docs (option 2) https://github.com/icd2k3/react-router-breadcrumbs-hoc#disabling-default-generated-breadcrumbs im able to disable breadcrumb by passing somthing like this:
`{ path: '/a/b', breadcrumb: null }`. And it's works but typescript type checker raises an error/warning:

[code]

I can pass `{ path: '/a/b', breadcrumb: undefined }` to silence the error but it will not disable `/

[2020-06-03 14:00] icd2k3 commented on #109
Thanks @rwojnarowski, I'm going to update how these types are generated soon

[2020-06-03 14:47] icd2k3 commented on #107
Should be fixed as of `3.3.0`

[2020-06-03 14:47] #107 closed

[2020-06-03 14:47] icd2k3 commented on #109
Should be fixed as of `3.3.0`, let me know if there's still a problem!

[2020-06-03 14:47] #109 closed

[2020-06-09 07:49] AO19 opened #112 "Property 'match' does not exist on type 'ReactNode'"
Version: `"react-router-breadcrumbs-hoc": "^3.3.0",`

Code:
[code]

TypeScript throws the error for match and: `Property 'breadcrumb' does not exist on type 'ReactNode'.`

This happened after I updated my package, what am I missing?

[2020-06-09 07:55] AO19 commented on #112
My bad 😄

[2020-06-09 07:55] #112 closed

[2020-07-05 20:11] abeMedia opened #113 "What to use instead of InjectedProps"
The last version saw the TS definition for `InjectedProps` get removed. What are we meant to use instead?

[2020-08-10 09:01] asherccohen commented on #113
Any idea how this can be fixed?
Breadcrumbs assume a React.ReactNode[] but with no further type definition of breadcrumbs.

Any help?

[2020-11-05 18:39] icd2k3 commented on #113
Sorry, this slipped through the cracks - happy to accept a PR for updated types, or I may have some time soon to update this.

[2020-12-21 22:20] icd2k3 commented on #113
Hello @abeMedia @asherccohen  👋 . I switched from manually defining types to having them generated for the package (when I switched the src code from js to ts, this is probably when we switched off of `InjectedProps`). The current definition for a breadcrumbs route is:

[code]

Where breadcrumb is an _optional_ component/element/string.

Is this missing something? Let me know and I'm happy to adju

[2020-12-21 22:29] icd2k3 commented on #113
oh, is this related to being able to pass extra props as part of the route object?

[code]

[2020-12-21 22:40] #113 closed

[2021-10-21 16:10] abhinavsau opened #124 "Replacing react-router with react-router-dom"
I see for [this issue](https://github.com/icd2k3/react-router-breadcrumbs-hoc/issues/102) you removed the `react-router-dom` dependency. Since `react-router-dom` [imports and re-exports](https://github.com/remix-run/react-router/issues/4648#issuecomment-284479720) all the components of `react-router`, isn't it better to replace `react-router` with `react-router-dom` which would give the `NavLink`

[2021-10-27 17:04] #124 closed, assigned to nobody

[2022-03-25 19:48] ajit-wearingo commented on #97
@icd2k3 is it released officially now ?

[2022-03-28 14:44] icd2k3 commented on #97
yep, but this HOC will only support v5. If you want to use v6 then please use the hook [use-react-router-breadcrumbs](https://github.com/icd2k3/use-react-router-breadcrumbs) instead

[2022-05-25 09:04] Cruxzie opened #126 "Fixed"
I found the solution...

[2022-05-25 09:05] #126 closed, assigned to nobody